.menuBarContainer {
  width: 12.5rem;
  height: 52rem;
  flex-shrink: 0;
  background: var(--Gray5, #2A2A3A);
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(-100%); */
  z-index: 100;
}

.hideMenuBarContainer {
  width: 12.5rem;
  height: 52rem;
  flex-shrink: 0;
  background: var(--Gray5, #2A2A3A);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3 ease-in-out;
  z-index: 100;
}

.menuBox {
  margin: 2rem 0;
  margin-left: 1.25rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.menuText {
  color: var(--White, #FFF);
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tailTextBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.2rem;
  margin-left: 3.25rem;
  gap: 1rem;
}

.tailTextBox button {
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Gray2, #7F85A3);
}
.tailTextBox button:focus {
  color: white;
}

.listBox {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.25rem;
  align-items: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Gray2, #7f85a3);
}

.activeListBox {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.25rem;
  align-items: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--White, #fff);
}