/* 육각형 이미지 */
.topImgBox {
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  width: 10.3125rem;
  height: 9.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planImgBox, .designImgBox, .developerImgBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.planText, .designText, .developerText {
  color: var(--Gray1, #BFC4D8);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottomImgBox {
  display: flex;
  gap: 0.69rem;
  justify-content: center;
}

.leftImgBox, .rightImgBox {
  position: relative;
  width: 10.3125rem;
  height: 9.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 소개 텍스트 */
.introduceTextBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.introduceText {
  color: var(--Gray1, #BFC4D8);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pointText {
  color: var(--White, #FFF);
  font-weight: 700;
}